#loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: rgb(229,239,241);
  z-index: 200;
  background-image: url("../../resources/media/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  height: 15vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#logo {
  font-family: 'Bangers', cursive;
  font-size: 40pt;
  margin: 0;
  text-decoration: underline;
  color: #000;
  float: left;
  height: 100%;
  width: auto;
}

nav {
  display: block;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 8vh;
  width: 98vw;
  background-color: #fff;
  box-shadow: 0 5px 50px 10px #000;
}

nav div {
  display: inline-block;
  height: 100%;
  width: auto;
  float: right;
}

nav div a {
  display: inline-block;
  width: 100px;
  height: 100%;
  position: relative;
}
nav div a span {
  font-family: 18pt;
  text-decoration: none;
  color: #000;
  font-family: 'Montserrat';
  font-weight: 400;
  display: block;
  word-wrap: normal;
  position: absolute;
  width: max-content;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 2px;
}
nav div a span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav div a span:hover:after {
  width: 100%;
  left: 0;
}

#social {
  width: 98vw;
  height: 4vh;
  padding: 1vh 1vw;
  padding-bottom: 0;
  background-color: #333333;
  color: #ff;
  font-family: 'Montserrat';
  font-weight: 500;
}
#social a {
  width: auto;
  height: 100%;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}
#social a:hover {
  text-decoration: underline;
}
#navspacer {
  top: 0;
  left: 0;
  display: block;
  height: 15vh;
  width: 100vw;
}
#startimage {
  background-image: url("../../resources/media/homepage-start-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  height: 85vh;
  width: 100vw;
  color: #fff;
  margin: 0;
}
#startimage div {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#startimage div h1 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 30pt;
  text-align: center;
  width: 100vw;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
}
#startimage div h2 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18pt;
  text-align: center;
  width: 100vw;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
}
#startimage div a {
  text-align: center;
  display: block;
  width: 20%;
  height: 50px;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14pt;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  margin: 0 42.5%;
  margin-top: 10px;
  line-height: 50px;
  box-sizing: border-box;
}
#startimage div a:hover {
  line-height: 46px;
  border: 2px white solid;
}
#startimage small {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 8pt;
}
#startimage small a {
  color: #afeeee;
}
#whatwemake {
  height: 30vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
.heading {
  display: block;
  text-align: center;
  width: 100vw;
  height: 50px;
  font-size: 30pt;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
#whatwemake div {
  flex: 1;
}
.makeicon {
  height: 50%;
  width: 100%;
  font-size: 40pt;
  position: relative;
  color: #fff;
}
.makeicon i {
  background-color: darkblue;
  border: 20px solid darkblue;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#whatwemake div h2 {
  text-align: center;
  width: 100%;
  height: 15%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  margin: 0;
}
#whatwemake div p {
  width: 80%;
  margin: 5% 10%;
  margin-top: 0;
  height: 30%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 12pt;
  text-align: center;
}
#portfolio {
  height: 50vh;
  width: 100vw;
  color: #fff;
  display: flex;
  flex-direction: row;
}
#portfolio div {
  flex: 1;
  background-color: #250361;
  margin: 10px;
  border-radius: 10px;
}
#portfolio div img {
  margin: 5% 10%;
  width: 80%;
  height: auto;
  border-radius: 10px;
}
#portfolio div h3 {
  margin: 0;
  width: 100%;
  font-size: 18pt;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
#portfolio div h4 {
  margin: 0;
  width: 100%;
  font-size: 12pt;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
#portfolio div a {
  text-align: center;
  display: block;
  width: 50%;
  height: 50px;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14pt;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  margin: 0 25%;
  margin-top: 10px;
  line-height: 50px;
  box-sizing: border-box;
}
#portfolio div a:hover {
  line-height: 46px;
  border: 2px white solid;
}
#contactus {
  height: 50vh;
  width: 100vw;
  background-image: url("../../resources/media/contactus-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#contactus small {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 8pt;
}
#contactus small a {
  color: #5b17d1;
}
#contactus h1 {
  position: absolute;
  top: 120px;
  right: 80px;
  width: 50%;
}
#contactus p {
  position: absolute;
  top: 180px;
  right: 80px;
  width: 50%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18pt;
  font-weight: 500;
  text-align: center;
}
#contactus p a {
  color: black;
  text-decoration: underline;
}
#contactus p a:hover {
  color: #5b17d1;
}
footer {
  height: 10vh;
}
footer nav {
  background-color: #000;
}
footer nav div a span {
  color: #fff;
}
footer nav div a span:after {
  background-color: #fff;
}
#copyright {
  color: #fff;
  height: 10vh;
  line-height: 8vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  padding-left: 10px;
}
