@media (max-width: 400px) {
  #logo {
    font-size: 25pt;
  }
}

#menubtn {
  display: inline-block;
  width: 100px;
  height: 100%;
  position: relative;
  top: 0;
}
#menubtn span {
  top: 0;
  right: 0;
  float: right;
  font-family: 18pt;
  text-decoration: none;
  color: #000;
  font-family: 'Montserrat';
  font-weight: 400;
  display: block;
  word-wrap: normal;
  position: absolute;
  width: max-content;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 2px;
}

#menu {
  border-top: 5px solid #000;
  display: none;
  position: fixed;
  top: 15vh;
  right: 0;
  height: 85vh;
  width: 300px;
  background-color: rgba(255,255,255,0.8);
}

#menu.open {
  display: block;
}

#menu a {
  display: block;
  width: 100%;
  height: 10%;
  border-bottom: 5px solid #000;
}
footer nav div {
  display: none;
}
#copyright {
  width: 100%;
  text-align: center;
  display: block;
  height: 8vh;
  padding: 0;
}
#contactus {
  border: none;
  height: 50vh;
  position: relative;
  background-color: #333;
}
#contactus img, #contactus small {
  display: none;
}
#contactus div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: none;
  line-height: normal;
  float: none;
  width: 100%;
  padding: 0;
  height: fit-content;
}
#portfolio {
  flex-direction: column;
}
#whatwemake {
  flex-direction: column;
  height: 60vh;
}
#startimage div a {
  width: 50%;
  margin: 0 25%;
  margin-top: 10px;
}
#startimage div h1 br {
  display: initial;
}
